In [1]:
import pandas as pd
data=pd.read_csv('/Users/huangchuang/Downloads/test1.csv')
data.head()

   Unnamed: 0   timestamp  value  label                                KPI ID
0      558594  1493568000   1.45      0  ffb82d38-5f00-37db-abc0-5d2e4e4cb6aa
1      558595  1493568060   1.80      0  ffb82d38-5f00-37db-abc0-5d2e4e4cb6aa
2      558596  1493568120   1.60      0  ffb82d38-5f00-37db-abc0-5d2e4e4cb6aa
3      558597  1493568180   1.65      0  ffb82d38-5f00-37db-abc0-5d2e4e4cb6aa
4      558598  1493568240   1.70      0  ffb82d38-5f00-37db-abc0-5d2e4e4cb6aa

In [3]:
type(data['timestamp'][0])

numpy.int64