In [1]:
import pandas as pd

In [14]:
data=pd.read_csv('train_sameid.csv')

In [15]:
data.columns

Index(['timestamp', 'value', 'label', 'KPI ID'], dtype='object')

In [16]:
data.shape

(100000, 4)

In [22]:
data.head()

    timestamp     value  label                                KPI ID
0  1476460800  0.012604      0  da10a69f-d836-3baa-ad40-3e548ecf1fbd
1  1476460860  0.017786      0  da10a69f-d836-3baa-ad40-3e548ecf1fbd
2  1476460920  0.012014      0  da10a69f-d836-3baa-ad40-3e548ecf1fbd
3  1476460980  0.017062      0  da10a69f-d836-3baa-ad40-3e548ecf1fbd
4  1476461040  0.023632      0  da10a69f-d836-3baa-ad40-3e548ecf1fbd

In [24]:
traindata1=data.loc[0:9999]

In [25]:
traindata1.to_csv('traindata1.csv')

In [27]:
traindata2=data.loc[0:19999]
traindata2.to_csv('traindata2.csv')

In [28]:
traindata3=data.loc[0:49999]
traindata3.to_csv('traindata3.csv')

In [29]:
traindata4=data.loc[0:79999]
traindata4.to_csv('traindata4.csv')

In [7]:
s=u"chinese test 黄闯"
print(s)

chinese test 黄闯

In [1]:
l=[1,2,3,4]
id(l)

4368697736

In [2]:
l[0]=2
l

[2, 2, 3, 4]

In [3]:
id(l)

4368697736

In [4]:
l.append(10)
id(l)

4368697736

In [5]:
l

[2, 2, 3, 4, 10]

In [6]:
l.append([1,2])

In [7]:
l

[2, 2, 3, 4, 10, [1, 2]]

In [8]:
id(l)

4368697736

In [9]:
ls=l
id(ls)

4368697736

In [10]:
lss=l[:2]

In [11]:
id(lss)

4368767752

In [21]:
s=['Huang','huang']
[i for i in s if i.istitle()]z

['Huang']