In [1]:
import numpy as np
import pandas as pd
people=pd.DataFrame(np.random.randn(5,5),
                   columns=list('abcde'),
                   index=['Joe','Steve','Wes','Jim','Travis'])

people

               a         b         c         d         e
Joe    -1.277809  1.233470 -0.497953 -0.718626  0.534880
Steve  -0.901337 -0.601943  0.774169 -0.170366  1.280813
Wes    -0.136485  0.864410 -1.408846 -0.403561 -2.769534
Jim    -0.343799  0.303252  1.282155  0.349884  0.433447
Travis -0.938599 -0.124627  1.323936  0.141379 -0.355108

In [2]:
key=['one','two','one','two','one']
people.groupby(key).mean()

            a         b         c         d         e
one -0.784298  0.657751 -0.194288 -0.326936 -0.863254
two -0.622568 -0.149345  1.028162  0.089759  0.857130

In [3]:
people.groupby(key).transform(np.mean)

               a         b         c         d         e
Joe    -0.784298  0.657751 -0.194288 -0.326936 -0.863254
Steve  -0.622568 -0.149345  1.028162  0.089759  0.857130
Wes    -0.784298  0.657751 -0.194288 -0.326936 -0.863254
Jim    -0.622568 -0.149345  1.028162  0.089759  0.857130
Travis -0.784298  0.657751 -0.194288 -0.326936 -0.863254

In [4]:

df = pd.DataFrame(np.random.randn(10, 3), columns=['A', 'B', 'C'],
                    index=pd.date_range('1/1/2000', periods=10))
df

                   A         B         C
2000-01-01  0.202048  1.063788  1.870031
2000-01-02  1.521089  0.970958 -0.537112
2000-01-03  0.500468 -0.344368 -0.255157
2000-01-04  0.409489 -1.543679 -2.289737
2000-01-05 -0.049439 -0.181520  0.295951
2000-01-06  1.290732 -1.118746 -1.203134
2000-01-07 -1.331605 -1.215908 -0.186490
2000-01-08 -1.196100 -0.488757 -0.284695
2000-01-09  1.909174  0.046560  0.015226
2000-01-10 -0.091435  0.161253  1.154713

In [5]:
df.iloc[3:7] = np.nan
df

                   A         B         C
2000-01-01  0.202048  1.063788  1.870031
2000-01-02  1.521089  0.970958 -0.537112
2000-01-03  0.500468 -0.344368 -0.255157
2000-01-04       NaN       NaN       NaN
2000-01-05       NaN       NaN       NaN
2000-01-06       NaN       NaN       NaN
2000-01-07       NaN       NaN       NaN
2000-01-08 -1.196100 -0.488757 -0.284695
2000-01-09  1.909174  0.046560  0.015226
2000-01-10 -0.091435  0.161253  1.154713

In [6]:

df.transform(lambda x: (x - x.mean()) / x.std())

                   A         B         C
2000-01-01 -0.241698  1.270264  1.604536
2000-01-02  0.929709  1.128001 -0.898827
2000-01-03  0.023322 -0.887739 -0.605602
2000-01-04       NaN       NaN       NaN
2000-01-05       NaN       NaN       NaN
2000-01-06       NaN       NaN       NaN
2000-01-07       NaN       NaN       NaN
2000-01-08 -1.483358 -1.109014 -0.636321
2000-01-09  1.274358 -0.288640 -0.324411
2000-01-10 -0.502333 -0.112872  0.860625

In [10]:
m=df['A'].mean()

In [11]:
s=df['A'].std()

In [12]:
(0.202048-m)/s

-0.24169788849841484

In [19]:
df.rolling(2).sum()

                   A         B         C
2000-01-01       NaN       NaN       NaN
2000-01-02  1.723137  2.034746  1.332919
2000-01-03  2.021557  0.626589 -0.792269
2000-01-04       NaN       NaN       NaN
2000-01-05       NaN       NaN       NaN
2000-01-06       NaN       NaN       NaN
2000-01-07       NaN       NaN       NaN
2000-01-08       NaN       NaN       NaN
2000-01-09  0.713075 -0.442196 -0.269469
2000-01-10  1.817739  0.207814  1.169939

In [20]:
frame=pd.DataFrame({'data1':np.random.randn(1000),
                   'data2': np.random.randn(1000)})
frame[:5]

      data1     data2
0  0.377533  0.573231
1 -0.050313 -0.356499
2  1.242387  2.001857
3  2.050598 -0.314787
4  0.755100  0.447099

In [21]:
factor=pd.cut(frame.data1,4)
factor[:10]
# Categories (4, interval[float64]): [(-3.377, -1.698] < (-1.698, -0.0248] < (-0.0248, 1.648] < (1.648, 3.321]]

0     (-0.0248, 1.648]
1    (-1.698, -0.0248]
2     (-0.0248, 1.648]
3       (1.648, 3.321]
4     (-0.0248, 1.648]
5    (-1.698, -0.0248]
6    (-1.698, -0.0248]
7    (-1.698, -0.0248]
8     (-0.0248, 1.648]
9     (-0.0248, 1.648]
Name: data1, dtype: category
Categories (4, interval[float64]): [(-3.377, -1.698] < (-1.698, -0.0248] < (-0.0248, 1.648] < (1.648, 3.321]]

In [22]:
def get_stats(group):
    return {'min':group.min(),'max':group.max(),'count':group.count(),'mean':group.mean()}
grouped=frame.data2.groupby(factor)
grouped.apply(get_stats).unstack()

                   count       max      mean       min
data1
(-3.377, -1.698]    52.0  2.438811  0.126189 -2.407562
(-1.698, -0.0248]  428.0  3.320897  0.005233 -3.185474
(-0.0248, 1.648]   466.0  3.524111  0.087588 -2.955950
(1.648, 3.321]      54.0  2.978907  0.205089 -1.897443

In [23]:
grouping=pd.qcut(frame.data1,10,labels=False)#label=false即可值获取分位数的编号
grouped=frame.data2.groupby(grouping)
grouped.apply(get_stats).unstack()

       count       max      mean       min
data1
0      100.0  2.564373  0.091591 -2.473896
1      100.0  2.879827  0.119307 -2.740176
2      100.0  3.320897  0.100691 -2.988853
3      100.0  2.032827 -0.131801 -2.297751
4      100.0  2.012312 -0.030788 -3.185474
5      100.0  2.396650 -0.002249 -2.955950
6      100.0  3.524111  0.147939 -1.993053
7      100.0  2.155580 -0.014411 -2.009133
8      100.0  2.573522  0.165259 -2.322492
9      100.0  3.008036  0.161382 -2.191827