In [20]:
import pymongo
myclient = pymongo.MongoClient('58.16.78.136:27017')
dblist = myclient.list_database_names()
print(dblist)
mydb = myclient["test"]
collist = mydb.list_collection_names()
print(collist)

['local', 'test']
['alarm', 'item', 'system.indexes', 'test']

In [21]:
import pandas as pd
mycol = mydb["item"]
temp = []
for x in mycol.find({}, { "itemId": 1,"recordTime": 1, "value": 1 }):
    td = x
    temp.append([td.get('itemId'), td.get('recordTime'), td.get('value')])
print(len(temp))
data = pd.DataFrame(temp, columns=['itemId', 'recordTime', 'value'])

304811

In [22]:
item=list((set(list(data['itemId']))))

In [66]:
valuelist=[]
for i in item:
    valuelist.append(data[data['itemId']==i].loc[:,['value']].describe()['value'][2])

In [69]:
for i in range(len(valuelist)):
    if valuelist[i]=='null':
        valuelist[i]='0'

In [74]:
valuelst=list(map(float,valuelist))
valuelst

[26908774400.0,
 39752704.0,
 1015215886336.0,
 0.0,
 2408568.0,
 0.0,
 113528.0,
 0.0,
 0.0,
 0.0,
 436.0,
 32488.0,
 189081600.0,
 0.0,
 345547501568.0,
 0.0,
 39749632.0,
 28934754304.0,
 1056017055744.0,
 0.0,
 0.0,
 0.0,
 701736.0,
 0.0,
 0.0,
 2.0,
 132096.0,
 0.0,
 0.0,
 0.0,
 0.0,
 26752126976.0,
 0.0,
 822235537408.0,
 0.0,
 0.0,
 145080320.0,
 800.0,
 0.0,
 376.0,
 33734656.0,
 174824.0,
 0.0,
 0.0,
 918175744.0,
 1533677584384.0,
 0.0,
 0.0,
 197033984.0,
 0.0,
 0.0,
 0.0,
 32808.0,
 0.0,
 1007655403520.0,
 0.0,
 2.0,
 0.0,
 811.0,
 0.0,
 167.0,
 0.0,
 0.0,
 0.0,
 179696.0,
 0.0,
 152.0,
 0.0,
 626649268224.0,
 0.0,
 431.0,
 0.0,
 1.0,
 37946368.0,
 38824.0,
 0.0,
 515640.0,
 2.0,
 0.0,
 0.0,
 0.0,
 3840.0,
 0.0,
 2.0,
 0.0,
 193813504.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 514.0,
 37344.0,
 41166848.0,
 0.0,
 820785250304.0,
 0.0,
 1.0,
 0.0,
 0.0,
 194277376.0,
 828445716480.0,
 0.0,
 335.0,
 0.0,
 0.0,
 0.0,
 3018296033280.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 391624.0,
 792.0,
 0.0,
 39738368.0,
 39064.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 44934144.0,
 0.0,
 132992.0,
 0.0,
 0.0,
 0.0,
 856.0,
 0.0,
 4040.0,
 0.0,
 0.0,
 0.0,
 1056541855744.0,
 0.0,
 0.0,
 108960.0,
 0.0,
 0.0,
 0.0,
 32648.0,
 808.0,
 1.0,
 563.0,
 0.0,
 0.0,
 3485651042304.0,
 0.0,
 208.0,
 7047888.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 194266112.0,
 8.0,
 0.0,
 195227648.0,
 0.0,
 0.0,
 5677096.0,
 0.0,
 53660876800.0,
 1063256064.0,
 28968488960.0,
 4046077304832.0,
 247772160.0,
 4046077304832.0,
 247772160.0,
 2275678625792.0,
 247772160.0,
 246755328.0,
 1934298701824.0,
 1934298701824.0,
 246755328.0,
 1111577890816.0,
 1111577890816.0,
 246755328.0,
 4088.0,
 732796760064.0,
 132.0,
 16.0,
 338680.0,
 3512.0,
 35952.0,
 2704.0,
 515128.0,
 0.0,
 0.0,
 14864.0,
 42404237312.0,
 0.0,
 135200.0,
 886738944.0,
 0.0,
 45938167808.0,
 528168.0,
 21048.0,
 23040.0,
 0.0,
 43264430080.0,
 914259968.0,
 9816.0,
 0.0,
 21192.0,
 0.0,
 2600.0,
 1279213568.0,
 151248285696.0,
 1.0,
 431.0,
 874561536.0,
 6744436736.0,
 721889804288.0,
 148996096.0,
 185984.0,
 45008.0,
 376.0,
 0.0,
 35847323648.0,
 914165760.0,
 3232.0,
 2291896320.0,
 149090304.0,
 0.0,
 3504.0,
 9699655680.0,
 2.0,
 190005248.0,
 152.0,
 239992.0,
 360.0,
 10941612032.0,
 0.0,
 0.0,
 8680.0,
 165568.0,
 1980336.0,
 0.0,
 0.0,
 376.0,
 12688314368.0,
 150282240.0,
 10936.0,
 48952.0,
 66856.0,
 0.0,
 34656256.0,
 1.0,
 829.0,
 204656.0,
 50864.0,
 0.0,
 112136.0,
 3696.0,
 77104.0,
 48.0,
 0.0,
 153248.0,
 5616.0,
 11370057728.0,
 0.0,
 149090304.0,
 1960.0,
 213080.0,
 360.0,
 96637779968.0,
 37720.0,
 16.0,
 913944576.0,
 227464.0,
 0.0,
 1496.0,
 37208.0,
 0.0,
 0.0,
 627.0,
 287.0,
 0.0,
 44925485056.0,
 32.0,
 837416.0,
 0.0,
 914165760.0,
 215496.0,
 5442650112.0,
 25664.0,
 0.0,
 27904.0,
 149311488.0,
 0.0,
 28376.0,
 66752.0,
 0.0,
 23528.0,
 0.0,
 1.0,
 5101592576.0,
 0.0,
 4216.0,
 479.0,
 602856.0,
 579808.0,
 176517120.0,
 18832.0,
 0.0,
 18792.0,
 3400.0,
 0.0,
 9880.0,
 4120.0,
 49672.0,
 10048.0,
 0.0,
 1663656.0,
 2712.0,
 148290121728.0,
 1.0,
 914284544.0,
 20288.0,
 1.0,
 1.0,
 160978436096.0,
 1064566784.0,
 732831416320.0,
 47217381376.0,
 1063256064.0,
 47217381376.0,
 1063256064.0,
 47217381376.0,
 52709261312.0,
 1063256064.0,
 47217381376.0,
 1063256064.0,
 102081433600.0,
 1063256064.0,
 160978436096.0,
 1064566784.0,
 732831416320.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 99.951553,
 0.048447,
 86.515558,
 0.0,
 94.045654,
 0.0,
 0.0,
 95.969773,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.010101,
 3.282828,
 99.673995,
 99.999828,
 0.46,
 0.23,
 0.28,
 31.281746,
 87.746573,
 12.253427,
 86.515558,
 94.045654,
 0.0,
 100.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 85.98681,
 99.937439,
 0.05,
 0.09,
 0.06,
 93.202037,
 100.0,
 0.0,
 86.514849,
 94.045654,
 0.0,
 94.974874,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 2.01005,
 2.763819,
 99.673995,
 99.999828,
 0.09,
 0.06,
 0.08,
 85.119272,
 100.0,
 0.0,
 0.0,
 99.875052,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.062474,
 0.062474,
 0.0,
 0.0,
 0.13,
 0.07,
 0.09,
 96.689156,
 100.0,
 0.0,
 0.0,
 99.916719,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 2553.0,
 0.041641,
 0.041641,
 82.151871,
 99.935788,
 0.13,
 0.01,
 0.21,
 95.060221,
 100.0,
 0.0,
 0.0,
 87.390762,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 12.609238,
 0.0,
 85.957147,
 99.937439,
 1.01,
 1.0,
 1.0,
 89.417149,
 100.0,
 0.0]

In [105]:
res=[]
for i in range(len(item)):
    if valuelst[i]<=1 or valuelst[i]>10000:
        continue
    else:
        res.append(item[i])

In [119]:
len(res)

97

In [134]:
data.replace('null',100,inplace=True)

In [148]:
data421=data[data['itemId']==421]

In [152]:
data421.sort_values('recordTime')

        itemId  recordTime      value
69088      421  1558426020  99.951553
69087      421  1558426080  99.951553
69089      421  1558426140  99.951553
69090      421  1558426200  99.951553
69091      421  1558426260  99.951553
69092      421  1558426320  99.951553
69093      421  1558426380  99.951553
69094      421  1558426440  99.951553
69095      421  1558426500  99.951553
69096      421  1558426560        100
87118      421  1558426620  99.951553
87119      421  1558426680  99.951553
87120      421  1558426740  99.951553
87121      421  1558426800  99.951553
87122      421  1558426860        100
96615      421  1558426920  99.951553
96616      421  1558426980  99.951553
96617      421  1558427040  99.951553
96618      421  1558427100  99.951553
96619      421  1558427160        100
106110     421  1558427220  99.951553
106111     421  1558427280  99.951553
106112     421  1558427340  99.951553
106113     421  1558427400  99.951553
106114     421  1558427460        100

In [154]:
import pymysql
 
# 打开数据库连接
# db = pymysql.connect("58.16.78.136:30306","root",None,"predictvalue" )
d=pymysql.connect(db='aiops_monitor', user='root', passwd='1234', host='58.16.78.136', port=23306)
# 使用 cursor() 方法创建一个游标对象 cursor
cursor = d.cursor()
 
# 使用 execute()  方法执行 SQL 查询 
cursor.execute("SELECT VERSION()")
 
# 使用 fetchone() 方法获取单条数据.
da = cursor.fetchone()
 
print ("Database version : %s " % da)
 
# 关闭数据库连接
# d.close()

Database version : 8.0.13

In [156]:
import fbprophet as fb

count=5401
for itemid in res[54:]:
    print('开始itemid为%d'% itemid)
    Fb=fb.Prophet()
    data1=data[data['itemId']==itemid].loc[:,['recordTime','value']]
    data1=data1.sort_values('recordTime')
    data1['recordTime']=pd.to_datetime(data1['recordTime'], unit='s')
    data1.columns=['ds','y']
    Fb.fit(data1)
    Pre=Fb.make_future_dataframe(freq='T',periods=100,include_history=False)
    forcasts=Fb.predict(Pre)
    forcast=forcasts.loc[:,['ds','trend','yhat_lower','yhat_upper']]
    date=list(forcast['ds'])
    trend=list(forcast['trend'])
    yhat_lower=list(forcast['yhat_lower'])
    yhat_upper=list(forcast['yhat_upper'])
    print(forcast)
    print('开始插入Itemid %d'%itemid)
    for i in range(len(date)):
        count+=1
        sql = "insert into predict(timestamp,id,value,l_value,h_value,item_id) values('%s','%d','%f','%f','%f','%d')" % (date[i],count,trend[i],yhat_lower[i],yhat_upper[i],itemid)
        try:
           # 执行SQL语句
           cursor.execute(sql)
           # 提交修改
           d.commit()
        except:
       # 发生错误时回滚
           d.rollback()

INFO:fbprophet:Disabling yearly seasonality. Run prophet with yearly_seasonality=True to override this.
INFO:fbprophet:Disabling weekly seasonality. Run prophet with weekly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:n_changepoints greater than number of observations.Using 19.0.

开始itemid为421
                    ds      trend  yhat_lower  yhat_upper
0  2019-05-21 08:32:00  99.968314   99.948883   99.987474
1  2019-05-21 08:33:00  99.968558   99.926732  100.009904
2  2019-05-21 08:34:00  99.968801   99.888663  100.054420
3  2019-05-21 08:35:00  99.969045   99.834595  100.099796
4  2019-05-21 08:36:00  99.969289   99.773252  100.153989
5  2019-05-21 08:37:00  99.969532   99.707794  100.216004
6  2019-05-21 08:38:00  99.969776   99.637895  100.284456
7  2019-05-21 08:39:00  99.970020   99.564042  100.362166
8  2019-05-21 08:40:00  99.970263   99.481481  100.435627
9  2019-05-21 08:41:00  99.970507   99.387117  100.520741
10 2019-05-21 08:42:00  99.970750   99.300083  100.617685
11 2019-05-21 08:43:00  99.970994   99.200624  100.706740
12 2019-05-21 08:44:00  99.971238   99.106746  100.797338
13 2019-05-21 08:45:00  99.971481   99.015061  100.901378
14 2019-05-21 08:46:00  99.971725   98.881901  101.016770
15 2019-05-21 08:47:00  99.971968   98.754496  101.121781
16 2019-05-21 08:48:00  99.972212   98.641007  101.236593
17 2019-05-21 08:49:00  99.972456   98.517862  101.339650
18 2019-05-21 08:50:00  99.972699   98.371862  101.445895
19 2019-05-21 08:51:00  99.972943   98.274134  101.547019
20 2019-05-21 08:52:00  99.973187   98.164999  101.684649
21 2019-05-21 08:53:00  99.973430   98.013423  101.864346
22 2019-05-21 08:54:00  99.973674   97.866113  101.996930
23 2019-05-21 08:55:00  99.973917   97.737119  102.085201
24 2019-05-21 08:56:00  99.974161   97.590346  102.226283
25 2019-05-21 08:57:00  99.974405   97.456942  102.330599
26 2019-05-21 08:58:00  99.974648   97.371688  102.478106
27 2019-05-21 08:59:00  99.974892   97.206508  102.639639
28 2019-05-21 09:00:00  99.975135   97.052876  102.764776
29 2019-05-21 09:01:00  99.975379   96.891886  102.862443
..                 ...        ...         ...         ...
70 2019-05-21 09:42:00  99.985367   88.973182  111.098149
71 2019-05-21 09:43:00  99.985611   88.792480  111.295682
72 2019-05-21 09:44:00  99.985854   88.567197  111.528590
73 2019-05-21 09:45:00  99.986098   88.342815  111.878570
74 2019-05-21 09:46:00  99.986342   88.120415  112.186271
75 2019-05-21 09:47:00  99.986585   87.900254  112.347523
76 2019-05-21 09:48:00  99.986829   87.648139  112.496816
77 2019-05-21 09:49:00  99.987072   87.423387  112.532190
78 2019-05-21 09:50:00  99.987316   87.213424  112.728490
79 2019-05-21 09:51:00  99.987560   86.965473  112.859351
80 2019-05-21 09:52:00  99.987803   86.738110  113.095428
81 2019-05-21 09:53:00  99.988047   86.483191  113.297320
82 2019-05-21 09:54:00  99.988291   86.232670  113.445886
83 2019-05-21 09:55:00  99.988534   85.932007  113.665811
84 2019-05-21 09:56:00  99.988778   85.518001  113.863987
85 2019-05-21 09:57:00  99.989021   85.251236  114.182785
86 2019-05-21 09:58:00  99.989265   85.019104  114.492663
87 2019-05-21 09:59:00  99.989509   84.867488  114.847702
88 2019-05-21 10:00:00  99.989752   84.609362  115.054044
89 2019-05-21 10:01:00  99.989996   84.410183  115.316827
90 2019-05-21 10:02:00  99.990239   84.223088  115.580249
91 2019-05-21 10:03:00  99.990483   83.822393  115.801300
92 2019-05-21 10:04:00  99.990727   83.553394  115.999933
93 2019-05-21 10:05:00  99.990970   83.271973  116.264424
94 2019-05-21 10:06:00  99.991214   83.135774  116.508471
95 2019-05-21 10:07:00  99.991457   83.002914  116.726220
96 2019-05-21 10:08:00  99.991701   82.627498  117.032655
97 2019-05-21 10:09:00  99.991945   82.301575  117.397233
98 2019-05-21 10:10:00  99.992188   81.966403  117.533773
99 2019-05-21 10:11:00  99.992432   81.582786  117.723126

[100 rows x 4 columns]
开始插入Itemid 421

InterfaceError: (0, '')

In [102]:
import time
import datetime
def timestamp_2_time(timestamp):
    temp = time.localtime(timestamp)
    temp = time.strftime("%Y-%m-%d %H:%M:%S", temp)
    time_data = pd.to_datetime(temp)
    return time_data
data['recordTime'] = data['recordTime'].apply(timestamp_2_time)
temp_date= datetime.datetime(2019, 5, 21, 11, 0, 0)
temp = data[data['recordTime'] >= temp_date]
a = temp[temp['itemId'] == 258]
print(a)

Empty DataFrame
Columns: [itemId, recordTime, value]
Index: []

In [103]:
left_date= datetime.datetime(2019, 5, 17, 0, 0, 0)
right_date = left_date + datetime.timedelta(days=1)
print(left_date, right_date)
res_data = data[(data['recordTime'] <= right_date) & (data['recordTime'] >= left_date)]
res_data

2019-05-17 00:00:00 2019-05-18 00:00:00

      itemId          recordTime  value
4         81 2019-05-17 08:55:15  38312
5         81 2019-05-17 08:56:15  38928
6         81 2019-05-17 08:57:15  38840
7         81 2019-05-17 08:58:15  38328
8         81 2019-05-17 08:59:15  38624
9         81 2019-05-17 09:00:15  39128
10        81 2019-05-17 09:01:15  38768
11        81 2019-05-17 09:02:15  38672
12        81 2019-05-17 08:55:15  38312
13        81 2019-05-17 08:56:15  38928
14        81 2019-05-17 08:57:15  38840
15        81 2019-05-17 08:58:15  38328
16        81 2019-05-17 08:59:15  38624
17        81 2019-05-17 09:00:15  39128
18        81 2019-05-17 09:01:15  38768
19        81 2019-05-17 09:02:15  38672
20        81 2019-05-17 09:03:15  39400
21        81 2019-05-17 09:04:15  38968
22        81 2019-05-17 09:05:15  38632
23        81 2019-05-17 09:06:15  38512
24        81 2019-05-17 09:07:15  39152
25        81 2019-05-17 09:08:15  38424
26        81 2019-05-17 09:09:15  38656
27        81 2019-05-17 09:10:15  38400
28        81 2019-05-17 09:11:15  38704
29        81 2019-05-17 09:12:15  39408
30        81 2019-05-17 09:13:15  38944
31        81 2019-05-17 09:14:15  38584
32        81 2019-05-17 09:15:15  38896
33        81 2019-05-17 09:16:15  38888
...      ...                 ...    ...
1228      81 2019-05-17 14:34:15  38776
1229      81 2019-05-17 14:35:15  39360
1230      81 2019-05-17 14:35:15  39360
1231      81 2019-05-17 14:36:15  38760
1232      81 2019-05-17 14:36:15  38760
1233      81 2019-05-17 14:37:15  39216
1234      81 2019-05-17 14:37:15  39216
1235      81 2019-05-17 14:38:15  39272
1236      81 2019-05-17 14:38:15  39272
1237      81 2019-05-17 14:39:15  38872
1238      81 2019-05-17 14:39:15  38872
1239      81 2019-05-17 14:40:15  38544
1240      81 2019-05-17 14:40:15  38544
1241      81 2019-05-17 14:41:15  39464
1242      81 2019-05-17 14:41:15  39464
1243      81 2019-05-17 14:42:15  38592
1244      81 2019-05-17 14:42:15  38592
1245      81 2019-05-17 14:43:15  40008
1246      81 2019-05-17 14:43:15  40008
1247      81 2019-05-17 14:44:15  38952
1248      81 2019-05-17 14:44:15  38952
1249      81 2019-05-17 14:45:15  39104
1250      81 2019-05-17 14:45:15  39104
1251      81 2019-05-17 14:46:15  38672
1252      81 2019-05-17 14:46:15  38672
1253      81 2019-05-17 14:47:15  39136
1254      81 2019-05-17 14:47:15  39136
1255      81 2019-05-17 14:48:15  39272
1256      81 2019-05-17 14:48:15  39272
1257      81 2019-05-17 14:49:15  38696

[1254 rows x 3 columns]