In [11]:
from collections import deque
# from aiops_detection_online.detection_service.common import mongodb_helper, kafka_helper
from sklearn.externals import joblib
import pymysql
import fbprophet
# from aiops_detection_online.config import server_config
import os
import time
import pandas as pd
mysql_dic={'mysql': {
        'server': '58.16.78.136',
        'port': 23306,
        'user': 'root',
        'passwd': '1234',
        'db': 'aiops_monitor'
    }}
host = mysql_dic.get("server")
port = mysql_dic.get("port")
db_name = mysql_dic.get("db")
user = mysql_dic.get('user')
passwd = mysql_dic.get('passwd')

d = pymysql.connect(db='aiops_monitor', user='root', passwd='1234', host='58.16.78.136', port=23306)
cursor = d.cursor()

# time_local = time.localtime(timestamp)
# 转换成新的时间格式(2016-05-05 20:28:54)
# dt = time.strftime("%Y-%m-%d %H:%M:%S", time_local)
v = '840'

# sql = "SELECT * FROM predict where item_id=%s"%v
sql = "SELECT * FROM predict"
# 执行SQL语句

# 读取sql
data_sql=pd.read_sql(sql,d)
# 存储
# data_sql.to_csv("test.csv")
# cursor.execute(sql, v)
# results = cursor.fetchall()
d.close()

In [91]:
d953=data_sql[data_sql['item_id']==840]

In [90]:
data_q

              predict_time      id     value   l_value   h_value  item_id
0      2019-05-29 11:55:50  438598   9800.04 -25271.65  47251.01      840
1      2019-05-29 11:56:50  438599   9938.46 -24269.23  47251.10      840
2      2019-05-29 11:57:50  438600  10076.88 -25663.29  48027.27      840
3      2019-05-29 11:58:50  438601  10215.31 -28295.98  45400.85      840
4      2019-05-29 11:59:50  438602  10353.73 -26570.67  48371.49      840
5      2019-05-29 12:00:50  438603  10492.16 -23930.33  46802.26      840
6      2019-05-29 12:01:50  438604  10630.58 -27789.79  48525.49      840
7      2019-05-29 12:02:50  438605  10769.01 -27764.29  47506.62      840
8      2019-05-29 12:03:50  438606  10907.43 -25924.62  48386.27      840
9      2019-05-29 12:04:50  438607  11045.85 -24346.36  48656.94      840
10     2019-05-29 12:05:50  438608  11184.28 -26562.98  46936.51      840
11     2019-05-29 12:06:50  438609  11322.70 -23969.52  48154.12      840
12     2019-05-29 12:07:50  438610  11461.13 -24970.20  48887.18      840
13     2019-05-29 12:08:50  438611  11599.55 -24169.53  46565.95      840
14     2019-05-29 12:09:50  438612  11737.98 -26030.59  50335.84      840
15     2019-05-29 12:10:50  438613  11876.40 -27240.28  48752.38      840
16     2019-05-29 12:11:50  438614  12014.82 -26810.35  45453.63      840
17     2019-05-29 12:12:50  438615  12153.25 -22727.62  48498.19      840
18     2019-05-29 12:13:50  438616  12291.67 -27076.62  48775.34      840
19     2019-05-29 12:14:50  438617  12430.10 -22170.95  49256.51      840
20     2019-05-29 12:15:50  438618  12568.52 -21918.82  52267.66      840
21     2019-05-29 12:16:50  438619  12706.94 -20651.10  51188.22      840
22     2019-05-29 12:17:50  438620  12845.37 -27934.75  50247.98      840
23     2019-05-29 12:18:50  438621  12983.79 -22487.51  48945.67      840
24     2019-05-29 12:19:50  438622  13122.22 -24310.97  49342.47      840
25     2019-05-29 12:20:50  438623  13260.64 -23214.05  49159.24      840
26     2019-05-29 12:21:50  438624  13399.07 -25142.04  49349.41      840
27     2019-05-29 12:22:50  438625  13537.49 -23592.99  47665.65      840
28     2019-05-29 12:23:50  438626  13675.91 -20860.52  50609.69      840
29     2019-05-29 12:24:50  438627  13814.34 -20852.50  53041.44      840
...                    ...     ...       ...       ...       ...      ...
247290 2019-05-29 14:25:50  685888  30563.67  -3904.80  68624.98      840
247291 2019-05-29 14:26:50  685889  30702.09  -7882.06  66301.96      840
247292 2019-05-29 14:27:50  685890  30840.51  -4574.79  70655.94      840
247293 2019-05-29 14:28:50  685891  30978.94  -5034.25  66867.93      840
247294 2019-05-29 14:29:50  685892  31117.36  -7124.92  68903.04      840
247295 2019-05-29 14:30:50  685893  31255.79  -4757.72  69704.05      840
247296 2019-05-29 14:31:50  685894  31394.21  -7194.23  71407.00      840
247297 2019-05-29 14:32:50  685895  31532.64  -4264.03  67028.80      840
247298 2019-05-29 14:33:50  685896  31671.06  -5150.24  68197.94      840
247299 2019-05-29 14:34:50  685897  31809.48  -4234.21  66414.00      840
247300 2019-05-29 14:35:50  685898  31947.91  -5327.62  67371.27      840
247301 2019-05-29 14:36:50  685899  32086.33  -3341.66  68059.39      840
247302 2019-05-29 14:37:50  685900  32224.76  -3895.96  66506.86      840
247303 2019-05-29 14:38:50  685901  32363.18  -4679.00  66819.52      840
247304 2019-05-29 14:39:50  685902  32501.60  -3951.76  70479.10      840
247305 2019-05-29 14:40:50  685903  32640.03  -1881.55  66563.52      840
247306 2019-05-29 14:41:50  685904  32778.45  -2724.70  67112.37      840
247307 2019-05-29 14:42:50  685905  32916.88  -2897.19  70150.22      840
247308 2019-05-29 14:43:50  685906  33055.30  -1382.98  68840.30      840
247309 2019-05-29 14:44:50  685907  33193.73  -2485.33  70556.98      840
247310 2019-05-29 14:45:50  685908  33332.15  -1601.05  68373.20      840
247311 2019-05-29 14:46:50  685909  33470.57  -2904.18  71766.05      840
247312 2019-05-29 14:47:50  685910  33609.00  -2797.03  71425.84      840
247313 2019-05-29 14:48:50  685911  33747.42  -7135.83  70355.99      840
247314 2019-05-29 14:49:50  685912  33885.85  -5744.23  69842.86      840
247315 2019-05-29 14:50:50  685913  34024.27   -580.67  70957.08      840
247316 2019-05-29 14:51:50  685914  34162.70    410.07  72853.62      840
247317 2019-05-29 14:52:50  685915  34301.12  -3505.31  70636.78      840
247318 2019-05-29 14:53:50  685916  34439.54  -1172.05  70578.67      840
247319 2019-05-29 14:54:50  685917  34577.97  -3589.95  71356.78      840

[247320 rows x 6 columns]

In [40]:
data_sql[data_sql['item_id']==953]
import fbprophet as fb
Fb = fb.Prophet()
Fb.fit(data_mongo)
Pre = F.make_future_dataframe(freq='T', periods=180, include_history=False)
forcasts = F.predict(Pre)

              predict_time      id  value  l_value  h_value  item_id
1620   2019-05-29 02:25:56  440218   0.05    -0.02     0.12      953
1621   2019-05-29 02:26:56  440219   0.05    -0.01     0.12      953
1622   2019-05-29 02:27:56  440220   0.05    -0.02     0.12      953
1623   2019-05-29 02:28:56  440221   0.05    -0.02     0.12      953
1624   2019-05-29 02:29:56  440222   0.05    -0.02     0.12      953
1625   2019-05-29 02:30:56  440223   0.05    -0.02     0.12      953
1626   2019-05-29 02:31:56  440224   0.05    -0.02     0.11      953
1627   2019-05-29 02:32:56  440225   0.05    -0.01     0.12      953
1628   2019-05-29 02:33:56  440226   0.05    -0.02     0.12      953
1629   2019-05-29 02:34:56  440227   0.05    -0.02     0.12      953
1630   2019-05-29 02:35:56  440228   0.05    -0.02     0.12      953
1631   2019-05-29 02:36:56  440229   0.05    -0.02     0.12      953
1632   2019-05-29 02:37:56  440230   0.05    -0.02     0.11      953
1633   2019-05-29 02:38:56  440231   0.05    -0.02     0.11      953
1634   2019-05-29 02:39:56  440232   0.05    -0.02     0.11      953
1635   2019-05-29 02:40:56  440233   0.05    -0.02     0.12      953
1636   2019-05-29 02:41:56  440234   0.04    -0.02     0.11      953
1637   2019-05-29 02:42:56  440235   0.04    -0.02     0.11      953
1638   2019-05-29 02:43:56  440236   0.04    -0.02     0.11      953
1639   2019-05-29 02:44:56  440237   0.04    -0.03     0.11      953
1640   2019-05-29 02:45:56  440238   0.04    -0.03     0.12      953
1641   2019-05-29 02:46:56  440239   0.04    -0.02     0.11      953
1642   2019-05-29 02:47:56  440240   0.04    -0.02     0.11      953
1643   2019-05-29 02:48:56  440241   0.04    -0.03     0.11      953
1644   2019-05-29 02:49:56  440242   0.04    -0.02     0.11      953
1645   2019-05-29 02:50:56  440243   0.04    -0.03     0.11      953
1646   2019-05-29 02:51:56  440244   0.04    -0.03     0.11      953
1647   2019-05-29 02:52:56  440245   0.04    -0.03     0.10      953
1648   2019-05-29 02:53:56  440246   0.04    -0.03     0.11      953
1649   2019-05-29 02:54:56  440247   0.04    -0.03     0.11      953
...                    ...     ...    ...      ...      ...      ...
246390 2019-05-29 04:55:56  684988  -0.02    -0.18     0.12      953
246391 2019-05-29 04:56:56  684989  -0.03    -0.18     0.13      953
246392 2019-05-29 04:57:56  684990  -0.03    -0.18     0.13      953
246393 2019-05-29 04:58:56  684991  -0.03    -0.18     0.13      953
246394 2019-05-29 04:59:56  684992  -0.03    -0.18     0.13      953
246395 2019-05-29 05:00:56  684993  -0.03    -0.19     0.13      953
246396 2019-05-29 05:01:56  684994  -0.03    -0.20     0.13      953
246397 2019-05-29 05:02:56  684995  -0.03    -0.19     0.13      953
246398 2019-05-29 05:03:56  684996  -0.03    -0.18     0.12      953
246399 2019-05-29 05:04:56  684997  -0.03    -0.19     0.13      953
246400 2019-05-29 05:05:56  684998  -0.03    -0.20     0.14      953
246401 2019-05-29 05:06:56  684999  -0.03    -0.19     0.13      953
246402 2019-05-29 05:07:56  685000  -0.03    -0.20     0.13      953
246403 2019-05-29 05:08:56  685001  -0.03    -0.20     0.13      953
246404 2019-05-29 05:09:56  685002  -0.03    -0.20     0.15      953
246405 2019-05-29 05:10:56  685003  -0.03    -0.21     0.14      953
246406 2019-05-29 05:11:56  685004  -0.03    -0.21     0.13      953
246407 2019-05-29 05:12:56  685005  -0.03    -0.21     0.14      953
246408 2019-05-29 05:13:56  685006  -0.03    -0.21     0.14      953
246409 2019-05-29 05:14:56  685007  -0.03    -0.21     0.14      953
246410 2019-05-29 05:15:56  685008  -0.04    -0.21     0.15      953
246411 2019-05-29 05:16:56  685009  -0.04    -0.22     0.14      953
246412 2019-05-29 05:17:56  685010  -0.04    -0.21     0.14      953
246413 2019-05-29 05:18:56  685011  -0.04    -0.22     0.14      953
246414 2019-05-29 05:19:56  685012  -0.04    -0.22     0.15      953
246415 2019-05-29 05:20:56  685013  -0.04    -0.22     0.14      953
246416 2019-05-29 05:21:56  685014  -0.04    -0.22     0.14      953
246417 2019-05-29 05:22:56  685015  -0.04    -0.23     0.15      953
246418 2019-05-29 05:23:56  685016  -0.04    -0.23     0.15      953
246419 2019-05-29 05:24:56  685017  -0.04    -0.24     0.15      953

[5760 rows x 6 columns]

In [ ]:
'kafka': {
        'server_1': {
            'host': '10.1.11.16',
            'port': 9092,
        },
        'server_2': {
            'host': '10.1.11.14',
            'port': 9092,
        },
        'group': 'detection_online',
        'std_topic': 'std-item',
        'alarm_topic': 'alarm-data',
        'auto_offset_reset': 'latest'  # latest or earliest
    }

In [ ]:

from kafka import KafkaConsumer

consumer = KafkaConsumer('model',auto_offset_reset='earliest',bootstrap_servers='58.16.78.136:64547')

for msg in consumer:
    print(eval(msg.value))

In [42]:
import collections
import datetime
import pandas as pd
import os
import fbprophet as fb
from sklearn.externals import joblib
import pymysql
import pymongo

train_history = collections.deque()

myclient = pymongo.MongoClient('58.16.78.136:27017')
mydb = myclient["test"]
mycol = mydb["item"]

import pymongo
import pandas as pd
import pymysql
import time
import datetime


data_temp=[]

myquery = {"itemId": 840}
for x in mycol.find(myquery, {"recordTime": 1, "value": 1}):
    td = x
    data_temp.append([td.get('recordTime'), td.get('value')])

# 转成dataframe
data_mongo = pd.DataFrame(data_temp, columns=['ds', 'y'])

In [82]:
d=pd.DataFrame(data_temp)

In [83]:
d.columns=['ds','y']

In [84]:
d[d['ds']==1559154748]

               ds       y
55673  1559154748  2636.0

In [86]:
pd.to_datetime(1559154748,unit='s',)

Timestamp('2019-05-29 18:32:28')

In [66]:
d9531=d953.tail(300)

In [80]:
d9531

     value  l_value  h_value  item_id        predict_time
0     0.02    -0.05     0.10      953 2019-05-30 02:32:11
1     0.02    -0.06     0.10      953 2019-05-30 02:32:10
2     0.02    -0.07     0.10      953 2019-05-30 02:32:08
3     0.02    -0.06     0.09      953 2019-05-30 02:32:13
4     0.02    -0.06     0.10      953 2019-05-30 02:32:15
5     0.02    -0.06     0.10      953 2019-05-30 02:32:14
6     0.02    -0.06     0.10      953 2019-05-30 02:32:12
7     0.02    -0.06     0.10      953 2019-05-30 02:32:17
8     0.02    -0.06     0.09      953 2019-05-30 02:32:16
9     0.02    -0.07     0.09      953 2019-05-30 02:32:21
10    0.02    -0.07     0.10      953 2019-05-30 02:32:18
11    0.02    -0.07     0.09      953 2019-05-30 02:32:19
12    0.02    -0.07     0.10      953 2019-05-30 02:32:20
13    0.02    -0.07     0.10      953 2019-05-30 02:32:23
14    0.01    -0.07     0.10      953 2019-05-30 02:32:22
15    0.01    -0.07     0.10      953 2019-05-30 02:32:25
16    0.01    -0.07     0.10      953 2019-05-30 02:32:24
17    0.01    -0.07     0.10      953 2019-05-30 02:32:26
18    0.01    -0.07     0.10      953 2019-05-30 02:32:27
19    0.01    -0.07     0.10      953 2019-05-30 02:32:28
20    0.01    -0.07     0.10      953 2019-05-30 02:32:29
21    0.01    -0.07     0.10      953 2019-05-30 02:32:30
22    0.01    -0.09     0.10      953 2019-05-30 02:32:32
23    0.01    -0.08     0.10      953 2019-05-30 02:32:31
24    0.01    -0.09     0.09      953 2019-05-30 02:32:34
25    0.01    -0.09     0.10      953 2019-05-30 02:32:33
26    0.01    -0.09     0.10      953 2019-05-30 02:32:35
27    0.01    -0.08     0.10      953 2019-05-30 02:32:36
28    0.01    -0.09     0.09      953 2019-05-30 02:32:37
29    0.01    -0.08     0.09      953 2019-05-30 02:32:38
..     ...      ...      ...      ...                 ...
270  -0.02    -0.18     0.12      953 2019-05-30 02:36:40
271  -0.03    -0.18     0.13      953 2019-05-30 02:36:39
272  -0.03    -0.18     0.13      953 2019-05-30 02:36:41
273  -0.03    -0.18     0.13      953 2019-05-30 02:36:42
274  -0.03    -0.18     0.13      953 2019-05-30 02:36:43
275  -0.03    -0.19     0.13      953 2019-05-30 02:36:45
276  -0.03    -0.20     0.13      953 2019-05-30 02:36:47
277  -0.03    -0.19     0.13      953 2019-05-30 02:36:46
278  -0.03    -0.18     0.12      953 2019-05-30 02:36:48
279  -0.03    -0.19     0.13      953 2019-05-30 02:36:50
280  -0.03    -0.20     0.14      953 2019-05-30 02:36:44
281  -0.03    -0.19     0.13      953 2019-05-30 02:36:49
282  -0.03    -0.20     0.13      953 2019-05-30 02:36:51
283  -0.03    -0.20     0.13      953 2019-05-30 02:36:53
284  -0.03    -0.20     0.15      953 2019-05-30 02:36:52
285  -0.03    -0.21     0.14      953 2019-05-30 02:36:55
286  -0.03    -0.21     0.13      953 2019-05-30 02:36:54
287  -0.03    -0.21     0.14      953 2019-05-30 02:36:56
288  -0.03    -0.21     0.14      953 2019-05-30 02:36:57
289  -0.03    -0.21     0.14      953 2019-05-30 02:36:59
290  -0.04    -0.21     0.15      953 2019-05-30 02:36:58
291  -0.04    -0.22     0.14      953 2019-05-30 02:37:00
292  -0.04    -0.21     0.14      953 2019-05-30 02:37:03
293  -0.04    -0.22     0.14      953 2019-05-30 02:37:02
294  -0.04    -0.22     0.15      953 2019-05-30 02:37:01
295  -0.04    -0.22     0.14      953 2019-05-30 02:37:05
296  -0.04    -0.22     0.14      953 2019-05-30 02:37:04
297  -0.04    -0.23     0.15      953 2019-05-30 02:37:06
298  -0.04    -0.23     0.15      953 2019-05-30 02:38:26
299  -0.04    -0.24     0.15      953 2019-05-30 02:39:26

[300 rows x 5 columns]

In [74]:
d=d.reset_index()
d9531=d9531.reset_index()

In [76]:
d9531.drop(['index','predict_time','id','ds'],axis=1,inplace=True)

In [78]:
d9531['predict_time']=d['ds']

In [79]:
d = pymysql.connect(db='aiops_monitor', user='root', passwd='1234', host='58.16.78.136', port=23306)

sql = "insert into predict(predict_time,value,l_value,h_value,item_id) values('%s','%f','%f','%f','%d')" % (
                        '2019-05-30 02:32:11', 0.02,-0.05,0.10, 953)
data_sql=pd.read_sql(sql,d)
d9531.to_sql(sql,d)

     value  l_value  h_value  item_id        predict_time
0     0.02    -0.05     0.10      953 2019-05-30 02:32:11
1     0.02    -0.06     0.10      953 2019-05-30 02:32:10
2     0.02    -0.07     0.10      953 2019-05-30 02:32:08
3     0.02    -0.06     0.09      953 2019-05-30 02:32:13
4     0.02    -0.06     0.10      953 2019-05-30 02:32:15
5     0.02    -0.06     0.10      953 2019-05-30 02:32:14
6     0.02    -0.06     0.10      953 2019-05-30 02:32:12
7     0.02    -0.06     0.10      953 2019-05-30 02:32:17
8     0.02    -0.06     0.09      953 2019-05-30 02:32:16
9     0.02    -0.07     0.09      953 2019-05-30 02:32:21
10    0.02    -0.07     0.10      953 2019-05-30 02:32:18
11    0.02    -0.07     0.09      953 2019-05-30 02:32:19
12    0.02    -0.07     0.10      953 2019-05-30 02:32:20
13    0.02    -0.07     0.10      953 2019-05-30 02:32:23
14    0.01    -0.07     0.10      953 2019-05-30 02:32:22
15    0.01    -0.07     0.10      953 2019-05-30 02:32:25
16    0.01    -0.07     0.10      953 2019-05-30 02:32:24
17    0.01    -0.07     0.10      953 2019-05-30 02:32:26
18    0.01    -0.07     0.10      953 2019-05-30 02:32:27
19    0.01    -0.07     0.10      953 2019-05-30 02:32:28
20    0.01    -0.07     0.10      953 2019-05-30 02:32:29
21    0.01    -0.07     0.10      953 2019-05-30 02:32:30
22    0.01    -0.09     0.10      953 2019-05-30 02:32:32
23    0.01    -0.08     0.10      953 2019-05-30 02:32:31
24    0.01    -0.09     0.09      953 2019-05-30 02:32:34
25    0.01    -0.09     0.10      953 2019-05-30 02:32:33
26    0.01    -0.09     0.10      953 2019-05-30 02:32:35
27    0.01    -0.08     0.10      953 2019-05-30 02:32:36
28    0.01    -0.09     0.09      953 2019-05-30 02:32:37
29    0.01    -0.08     0.09      953 2019-05-30 02:32:38
..     ...      ...      ...      ...                 ...
270  -0.02    -0.18     0.12      953 2019-05-30 02:36:40
271  -0.03    -0.18     0.13      953 2019-05-30 02:36:39
272  -0.03    -0.18     0.13      953 2019-05-30 02:36:41
273  -0.03    -0.18     0.13      953 2019-05-30 02:36:42
274  -0.03    -0.18     0.13      953 2019-05-30 02:36:43
275  -0.03    -0.19     0.13      953 2019-05-30 02:36:45
276  -0.03    -0.20     0.13      953 2019-05-30 02:36:47
277  -0.03    -0.19     0.13      953 2019-05-30 02:36:46
278  -0.03    -0.18     0.12      953 2019-05-30 02:36:48
279  -0.03    -0.19     0.13      953 2019-05-30 02:36:50
280  -0.03    -0.20     0.14      953 2019-05-30 02:36:44
281  -0.03    -0.19     0.13      953 2019-05-30 02:36:49
282  -0.03    -0.20     0.13      953 2019-05-30 02:36:51
283  -0.03    -0.20     0.13      953 2019-05-30 02:36:53
284  -0.03    -0.20     0.15      953 2019-05-30 02:36:52
285  -0.03    -0.21     0.14      953 2019-05-30 02:36:55
286  -0.03    -0.21     0.13      953 2019-05-30 02:36:54
287  -0.03    -0.21     0.14      953 2019-05-30 02:36:56
288  -0.03    -0.21     0.14      953 2019-05-30 02:36:57
289  -0.03    -0.21     0.14      953 2019-05-30 02:36:59
290  -0.04    -0.21     0.15      953 2019-05-30 02:36:58
291  -0.04    -0.22     0.14      953 2019-05-30 02:37:00
292  -0.04    -0.21     0.14      953 2019-05-30 02:37:03
293  -0.04    -0.22     0.14      953 2019-05-30 02:37:02
294  -0.04    -0.22     0.15      953 2019-05-30 02:37:01
295  -0.04    -0.22     0.14      953 2019-05-30 02:37:05
296  -0.04    -0.22     0.14      953 2019-05-30 02:37:04
297  -0.04    -0.23     0.15      953 2019-05-30 02:37:06
298  -0.04    -0.23     0.15      953 2019-05-30 02:38:26
299  -0.04    -0.24     0.15      953 2019-05-30 02:39:26

[300 rows x 5 columns]